*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
    text-decoration: none;
}



.wrapper{
  display: flex;
  justify-content: space-around;
}

.card .card-header{
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}