* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-white: #fff;
  --background-color: rgb(17, 17, 17);
}

html,
body {
  font-family: "Ubuntu", sans-serif;
}
